<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../css/bootstrap.css"
          th:href="'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'"
          th:integrity="'sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'"
          th:crossorigin="'anonymous'">
    <title>Index</title>
</head>
<body>
<main id="main" class="text-dark bg-primary">
    <h1>Index</h1>
    <p>Hello World! Thymeleaf version.</p>
</main>
<section id="tail" th:replace="components/tail :: component">
    <script src="../js/jquery-3.3.1.slim.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.js"></script>
</section>
</body>
</html>