<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../css/bootstrap.css"
          th:href="'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'"
          th:integrity="'sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'"
          th:crossorigin="'anonymous'">
    <title>Index</title>
</head>
<body>
<main id="main" class="bg-white">
    <h1>Index</h1>
    <p>Hello World! Thymeleaf version.</p>
</main>
<section id="tail">
    <script src="../js/jquery-3.3.1.slim.js"
            th:src="'https://code.jquery.com/jquery-3.3.1.slim.min.js'"
            th:integrity="'sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo'"
            th:crossorigin="'anonymous'"></script>
    <script src="../js/popper.js"
            th:src="'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'"
            th:integrity="'sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1'"
            th:crossorigin="'anonymous'"></script>
    <script src="../js/bootstrap.js"
            th:src="'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'"
            th:integrity="'sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM'"
            th:crossorigin="'anonymous'"></script>
</section>
</body>
</html>