<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta name="author" content="justburrow" th:remove="all"/>
    <meta name="since" content="2019/09/01 11:49" th:remove="all"/>
    <meta charset="UTF-8"/>
    <script src="../../../files/js/app.js"
            th:src="@{/files/js/app.js}"></script>
    <title>Index</title>
</head>
<body>
<main>
    <h1>Index</h1>
    <div>
        <button type="button" id="ping-bt" class="btn btn-lg btn-primary">PING</button>
    </div>
</main>
</body>
</html>
