<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta name="since" content="2019-05-05 18:10" th:remove="all"/>
    <meta charset="UTF-8"/>
    <title>Form</title>
</head>
<body>
<main>
    <h1>Form</h1>
    <!--/*@thymesVar id="input" type="com.github.hemoptysisheart.spring.example.thymeleafform.web.controller.input.FormInput"*/-->
    <form action="form.html" method="post"
          th:action="@{/}" th:object="${input}">
        <div>
            <label for="number">NUMBER</label>
            <input type="number" id="number" th:field="*{number}"/>
        </div>
        <div>
            <label for="text">TEXT</label>
            <input id="text" th:field="*{text}"/>
        </div>
        <div>
            <label for="email">E-MAIL</label>
            <input type="email" id="email" th:field="*{email}"/>
        </div>
        <div>
            <label for="password">PASSWORD</label>
            <input type="password" id="password" th:field="*{password}"/>
        </div>
        <div>
            <label for="password-confirm">PASSWORD CONFIRM</label>
            <input type="password" id="password-confirm" th:field="*{passwordConfirm}"/>
        </div>
        <div>
            <label>
                <input type="checkbox" th:field="*{error}"/> logic error
            </label>
            <select th:field="*{errSource}">
                <option value=""></option>
                <!--/*@thymesVar id="errorSources" type="java.util.List<java.lang.String>"*/-->
                <option value="number"
                        th:each="errSrc : ${errorSources}"
                        th:value="${errSrc}" th:text="${errSrc}">
                    number
                </option>
                <option value="text" th:remove="all">text</option>
                <option value="email" th:remove="all">email</option>
                <option value="password" th:remove="all">password</option>
                <option value="passwordConfirm" th:remove="all">password confirm</option>
            </select>
        </div>
        <div>
            <button>SUBMIT</button>
        </div>
    </form>
</main>
</body>
</html>